<%- include('partials/header', { pageTitle })%>

  <main>
    <h1><%= pageTitle %></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae debitis aperiam vel fuga nostrum neque tenetur facilis alias quibusdam voluptatum autem eum consequuntur tempore dolorum officia, praesentium cumque hic eaque.</p>
  </main>

<%- include('partials/footer')%>