<%- include ('partials/header', { pageTitle: "Admin Dashboard" }) %>

  <main>
    <h1>My Profile</h1>
    <p>This is my profile.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio saepe ipsam sed ea modi tempora consequatur rerum dicta aliquam dolor.</p>
    <a href="/logout">Log Out</a>
  </main>

<%- include('partials/footer') %>